{% extends '@AcMarcheIcar/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Test icar</h3>
        <div class="card-body">
            {% include '@AcMarcheIcar/_urlexecuted.html.twig' %}
        </div>

    </div>

{% endblock %}