{% extends '@AcMarcheIcar/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Les localités</h3>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                {% for localite in localites %}
                    <tr>
                        <td>
                            {{ localite.nom }}
                        </td>
                        <td>
                            {{ localite.commune }}
                        </td>
                        <td>
                            {{ localite.cps[0] }}
                        </td>
                        <td>
                            <a href="{{ path('icar_map', {'localite': localite.nom}) }}">Afficher sur la carte</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-footer">
            {% include '@AcMarcheIcar/_urlexecuted.html.twig' %}
        </div>
    </div>

{% endblock %}