{% extends '@AcMarcheIcar/layout.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Les localites de icar</h3>
        <div class="card-body">
            {% include '@AcMarcheIcar/_urlexecuted.html.twig' %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th></th>
                </tr>
                </thead>
                {% for localite in localites.localites %}
                    <tr>
                        <td>
                            {{ localite.nom }}
                        </td>
                        <td>
                            {{ localite.commune }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}